###########################
### general gitignores: ###
###########################
# python cache folder:
__pycache__
# shortcut in start folder:
/*.lnk
# temporary text file:
tmp.txt
# text files in start folder:
/*.txt
# whitelist to sync:
!todo-list.txt
# whitelist to sync:
!GENERATE_LAUNCHER_AND_SETTINGS.lnk
###########################


###########################
### specific gitignores: ##
###########################



###########################

