###########################
### general gitignores: ###
###########################
# do not sync python cache:
__pycache__
# do not sync the local shortcut to start the program that has absolute device specific paths:
/*.lnk
# sync the shortcut to the program that generates the local shortcuts:
!GENERATE_LAUNCHER_AND_SETTINGS.lnk
# do not sync temporary pip package file
tmp.txt
# do not sync the log output
/log.txt
# do not sync the start log output
/log_start_errors.txt
###########################


###########################
## specific gitignores: ###
###########################



###########################

