###########################
### general gitignores: ###
###########################
# python cache folder:
__pycache__
# shortcut in start folder:
/*.lnk
# temporary text file:
tmp.txt
# whitelist to sync:
!GENERATE_LAUNCHER_AND_SETTINGS.lnk
# log file
log.txt
###########################


###########################
### specific gitignores: ##
###########################



###########################
